{% extends'Admin/Complaints.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/new_complaint_post">
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td> <input type="text" name="textfield" id="textfield" class="form-control"/> </td>
      <td> <input type="submit" name="button" id="button" value="Search" class="btn btn-danger" /> </td>
    </tr>
  </table>


  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>#</td>
      <td>User</td>
      <td>Complaints</td>
      <td>Date</td>
      <td>Reply</td>
    </tr>
     {%for i in data %}
    <tr>
      <td> {{loop.index}}</td>
      <td> {{i['naame']}}</td>
      <td> {{i['complaint']}}</td>
      <td> {{i['date']}}</td>
      <td>{% if i['status']=='pending' %}<a href="/replay/{{i['comp_id']}}#about" class="btn btn-danger">Reply</a>{% else %}{{ i['replay'] }}{% endif %}</td>
    </tr>
     {%endfor%}
  </table>
  <p>&nbsp;</p>
</form>
<p>&nbsp;</p>
</body>
{% endblock %}
