{% extends "Admin/Complaints.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/replay_post">
  <table class="table table-borderless table-striped table-hover">
    <input type="hidden" name="comp_id" value="{{ rid }}"/>
    <tr>
      <td>Replay</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="Sent" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
