{% extends'Admin/Pending.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/verifing_manufactiores_post">
   <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td> <input type="text" name="textfield" id="textfield" class="form-control" /> </td>
      <td> <input type="submit" name="button" id="button" value="Search" class="btn btn-info" /> </td>
    </tr>
  </table>

</form>
<table border="0" class="table table-borderless table-striped table-hover">
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>Properties</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Address</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   {%for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td> {{i['name']}} </td>
    <td> {{i['propreitir_name']}} </td>
    <td> {{i['email']}} </td>
    <td> {{i['phone']}} </td>
    <td>
      {{i['place']}},
      {{i['post']}},
      {{i['pin']}},
    </td>
    <td><a href="#" class="btn btn-outline-primary">Trace</a></td>
    <td><a href="/approve_manufactiores/{{ i['man_id'] }}/{{ i['email']}}/{{ i['passwd']}}" class="btn btn-success">Approve</a></td>
    <td><a href="/reject_manufactiores/{{ i['man_id'] }}/{{ i['man_lid'] }}" class="btn btn-danger">Reject</a></td>
  </tr>
   {%endfor%}
</table>
<p>&nbsp;</p>
</body>
{% endblock %}