<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_user_post">
  <p>
    <label for="textfield"></label>
    <input type="text" name="textfield" id="textfield" />
    <input type="submit" name="button" id="button" value="Search" />
  </p>
  <table width="322" height="146" border="1">
    <tr>
      <td><h3>#</h3></td>
      <td>Name</td>
      <td>Age</td>
      <td>Gender</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
    </tr>
    {%for i in data%}
    <tr>
      <td>&nbsp;{{loop.index}} </td>
      <td>&nbsp;{{i['naame']}} </td>
      <td> {{i['age']}}   </td>
      <td> {{i['gender']}} </td>
      <td>
        {{i['place']}} <br>
        {{i['post']}}  <br>
       <p>pin: {{i['pin']}}</p>
      </td>
      <td> {{i['phone']}} </td>
      <td> {{i['email']}} </td>
    </tr>
    {%endfor%}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
