{% extends 'Manufacters/Catagory.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/Catagory_Managment_Add_post">
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>Category Name</td>
      <td>
        <input type="text" name="textfield" id="textfield" class="form-control"/>
      </td>
      <td colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
