{% extends 'Manufacters/MyProfile.html' %}

{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/Change_passwords_post">
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>Current Password</td>
      <td><label for="textfield"></label>
      <input type="password" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" class="form-control" /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="Save" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
