{% extends 'Manufacters/Reviews.html' %}
{% block body %}

<body>
<table border="0" class="table table-borderless table-striped table-hover">
  <tr>
    <td colspan="3"  scope="col"></td>
    <td colspan="2" scope="col"><a href="/product_review" class="btn btn-outline-info " > Rating & Review Of Product </a></td>
  </tr>
  <tr>
    <td scope="col">Date</td>
    <td scope="col">User</td>
    <td scope="col">Rating</td>
    <td scope="col">Review</td>
    <td scope="col">Staff</td>
  </tr>
   {%for i in data%}
  <tr>
    <td> {{i['date']}} </td>
    <td> {{i['naame']}} </td>
    <td> {{i['rating']}} </td>
    <td> {{i['review']}} </td>
    <td> {{i['sname']}} </td>
  </tr>
   {%endfor%}
</table>
</body>
{% endblock %}
