{% extends 'Manufacters/index_manufacters.html' %}
{% block body %}

<body>
<table border="0" class="table table-borderless table-striped table-hover">
  <tr>
    <td scope="col">Date</td>
    <td scope="col">User</td>
    <td scope="col">Rating</td>
    <td scope="col">Review</td>
    <td scope="col">Staff</td>
  </tr>
   {%for i in data%}
  <tr>
    <td> {{i['date']}} </td>
    <td> {{i['naame']}} </td>
    <td> {{i['rating']}} </td>
    <td> {{i['review']}} </td>
    <td> {{i['sname']}} </td>
  </tr>
   {%endfor%}
</table>
</body>
{% endblock %}
