<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <a href="/catagory_managment"> Category </a> <br>
   <a href="/delivary_rating"> Delivery Rating</a> <br>
   <a href="/product_managment_add"> Category </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
   <a href=""> </a> <br>
</body>
</html>