{% extends 'Manufacters/Product.html' %}
{% block body %}
<body>
<form action="/product_managment_addnew_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td colspan="2"><label>
        <input type="file" name="fileField" id="fileField" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th> Product Name</th>
      <td><label>
        <input type="text" name="textfield" id="textfield" class="form-control" />
      </label></td>
    </tr>
    <tr>
      <th>Catagory</th>
      <td>
        <select name="textfield2" >
          {% for i in data %}
          <option value="{{ i['category-id'] }}">{{i['category']}}</option>
          {% endfor %}
        </select>
    </td>
    </tr>
    <tr>
      <th>Price</th>
      <td><label>
        <input type="text" name="textfield3" id="textfield3" class="form-control" />
      </label></td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td><label>
        <input type="text" name="textfield4" id="textfield4" class="form-control" />
      </label></td>
    </tr>
    <tr>
      <th >Discription</th>
      <td><label>
        <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" ></textarea>
      </label></td>
    </tr>
  
   <tr align="right">
      <td colspan="2" ><input type="submit"  name="button" id="button" value="Submit" class="btn btn-outline-warning" /></td>
    </tr>
    </table>
</form>
</body>
{% endblock %}
