{% extends 'Manufacters/index_manufacters.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/product_managment_post">
  <p>
    <label for="textfield"></label>
      <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>  <input type="text" name="textfield" id="textfield" /> </td>
      <td> <input type="submit" name="button" id="button" value="Search" /> </td>
    </tr>
  </table>


  </p>
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <th><h3>#</h3></th>
      <th> Product</th>
      <th> Category name </th>
      <th> Quantity</th>
      <th> Discription </th>
      <th> Price </th>
      <th> </th>
      <th> </th>
    </tr>
     {%for i in data%}
    <tr>
      <td> {{loop.index}}</td>
      <td> <img src="{{i['photo']}}" height="100px" width="100px"> {{i['product_name']}} </td>
      <td> {{i['category']}} </td>
      <td> {{i['qty']}}</td>
      <td> {{i['description']}}</td>
      <td> {{i['price']}}</td>
      <td> <a href="/Product_Managment_edit/{{i['pid']}}#about" class="btn btn-outline-warning" > Edit</a> </td>
      <td> <a href="/product_managment_delete/{{i['pid']}}" class="btn btn-outline-warning">Delete </a> </td>
    </tr>
     {%endfor%}
  </table>
</form>
</body>
{% endblock %}
