{% extends 'Manufacters/index_manufacters.html' %}
{% block body %}

<body>
<form action="/Product_Managment_edit_post" method="post" enctype="multipart/form-data" name="form1" id="form1">

  <table border="0" class="table table-borderless table-striped table-hover">
      <input type="hidden" value="{{data['pid']}}" name="id" class="form-control"/>
    <tr>
        <td> <img src=" {{data['photo']}}" height="100px" width="100px"> </td>
      <td><label>
        <input type="file" name="fileField" id="fileField" class="form-control"  />
      </label></td>
    </tr>
    <tr>
      <td> Product Name</td>
      <td><label>
        <input type="text" name="textfield" value="{{data['product_name']}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><label>
         <select name="textfield2" class="form-control">
             <option value="{{data['category-id']}}" hidden>{{data['category']}}  </option>
          {% for i in data2 %}
          <option value="{{ i['category-id'] }}" >{{i['category']}} </option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield3" value="{{data['price']}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><label>
        <input type="text" name="textfield4" value="{{data['qty']}}" class="form-control" />
      </label></td>
    </tr>
    <tr>
      <td >Discription</td>
      <td><label>
        <textarea name="textarea" cols="45" rows="5" class="form-control">{{data['description']}} </textarea>
      </label></td>
    </tr>

   <tr>
      <td colspan="2" ><input type="submit" name="button" id="button" value="Submit" class="btn btn-info"/></td>
    </tr>
    </table>
</form>
</body>
{% endblock %}
