<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/profile_managment_view_post">
  <!--<input type="hidden" name="id" value="{{data['man_lid']}}">-->
<table width="343" height="366" border="1">
  <tr>
    <td>UserName</td>
    <td colspan="2"> {{data['name']}} </td>
  </tr>
  <tr>
    <td>Proprietor Name</td>
    <td colspan="2"> {{data['propreitir_name']}} </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td colspan="2"> {{data['phone']}} </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td colspan="2"> {{data['email']}} </td>
  </tr>
  <tr>
    <td rowspan="5">Address</td>
    <td>Place</td>
    <td> {{data['place']}} </td>
  </tr>
  <tr>
    <td>Post</td>
    <td> {{data['post']}} </td>
  </tr>
  <tr>
    <td>Pin</td>
    <td> {{data['pin']}} </td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td>Longitude</td>
  </tr>
  <tr>
    <td> {{data['latitude']}} </td>
    <td> {{data['longitude']}} </td>
  </tr>
  <tr>
    <td colspan="3">
      <a href="profile_managment">edit</a>
    </td>
  </tr>
</table>
</form>

</body>
</html>
