{% extends 'Manufacters/Staff.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/staff_managment_add_post">
  <table border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>Name</td>
      <td colspan="2"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <td>Age</td>
      <td colspan="2"><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td colspan="3"><p>
        <input type="radio" value="Female" name="checkbox" id="gen" class="form-control" />
        <label for="checkbox">Female   <br />
        </label>
      </p>
        <p>

          <input type="radio" value="Male" name="checkbox" id="gen2" />
          <label for="checkbox2">   Male   </label>

        </p>
        <p>
        <input type="radio" value="Others" name="checkbox" id="gen3" />
        <label for="checkbox">Others   <br />
        </label>
      </p>
      </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td colspan="2"><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" /></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td colspan="2"><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4"  class="form-control" /></td>
    </tr>
    <tr>
      <td rowspan="4">Address</td>
      <td>Place</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" class="form-control" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" class="form-control" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" class="form-control" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="3"><input type="submit" name="button" id="button" value="Submit" class="btn btn-info" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
